<%- include ('partials/header') -%>


<div class="form-section">
    <h3><%= message %></h3>
    <form class="ui form" action="/login" method="POST">
        <div class="field">
            <label>Username</label>
            <input type="text" placeholder="username" name="username">
        </div>
       
        <div class="field">
            <label>Password</label>
           <input type="password" placeholder="password" name="password">
        </div>

        <button class="ui teal button">Login</button>
    </form>
</div>

<%- include ('partials/footer') -%>